.img_preview_btns_wrapper_pipbbdfondfipmjmdkmggihiknhmcfhd {
    position: absolute;
    right: 0;
    z-index: 1;
}

.img_preview_btns_pipbbdfondfipmjmdkmggihiknhmcfhd {
    width: 30px;
    height: 30px;
    background-color: #4285f4;
    border: none;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.img_preview_btns_pipbbdfondfipmjmdkmggihiknhmcfhd:first-child {
    border-bottom-left-radius: 2px;
}

.img_preview_btns_pipbbdfondfipmjmdkmggihiknhmcfhd:hover {
    background-color: #ea4335;
}

.img_preview_btns_pipbbdfondfipmjmdkmggihiknhmcfhd svg {
    width: 16px;
    height: 16px;
    fill: white;
    display: block;
    margin: auto;
}