@font-face {
    font-family: "Roboto";
    src: url("chrome-extension://__MSG_@@extension_id__/Roboto-Light.ttf");
}

* {
	font-size: 17px;
	font-family: Roboto;
}

* {
    color: white;
}

body {
    margin: auto;
    width: __MSG_body_width__;
}

body {
    background-color: #212121;
} 

.restore_defaults_btn:hover, .restore_defaults_btn:active, .help {
    color: #212121;
}

fieldset {
    border: solid 1px;
    padding: 0px 12px 12px 12px;
}

fieldset:not(:last-child) {
    margin-bottom: 6px;
}

legend {
    font-size: 20px;
    margin-bottom: 4px;
}

a {
	display: table;
	color: #93beff;
	text-decoration: none;
}

label {
    display: inline;
}

a:visited {
	color: #ff9090;
}

a {
    color: #fbff75;
}

a:hover {
    color: #77ff6f;
}

a:active {
    color: #f493ff;
}

button {
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    border: solid 1px white;
    background-color: transparent;
}

button:hover {
    color: #212121;
}

button:hover {
    background-color: #fbff75;
}

button:active {
    background-color: #f493ff;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px #fbff75;
    border: 1px solid white;
}

button:focus, #download_imgs_path:focus {
    border-color: #fbff75;
}

.everything_wrapper {
    margin-top: 7px;
    margin-bottom: 18px;
    margin-left: 16px;
    margin-right: 16px;
    display: table;
}

.settings_item_wrappers:not(:first-child), .subotions:not(:first-child) {
    margin-top: 10px;
}

.subotions {
    margin-left: 27px;
}

input[type='checkbox'] {
    display: none;
}

.checkbox_labels {
    margin-top: -3px;
    display: inline-block;
}

.checkbox_labels, .input_labels {
    margin-right: 8px;
}

.checkbox_checkmark_wrappers {
    border: 1px solid white;
    height: 16px;
    width: 16px;
    position: relative;
    top: 3px;
    height: 16px;
    width: 16px;
    display: inline-block;
    cursor: pointer;
}

.checkbox_checkmark_wrappers svg {
    margin-top: 1px;
    margin-left: 1px;
    width: 14px;
    height: 14px;
    fill: white;
    display: block;
}

.settings_items:checked + .checkbox_checkmark_wrappers svg {
    opacity: 1;
}

.settings_items + .checkbox_checkmark_wrappers svg  {
    opacity: 0;
}

.download_imgs_path_settings_item_wrappers {
    display: flex;
    white-space: nowrap;
    align-items: center;
}

#download_imgs_path {
    width: 100%;
    border: none;
    border-bottom: solid 1px white;
    background-color: transparent;
    outline: none;
    transition: border-color 0.2s ease-out;
}

.help {
    background-color: white;
    font-weight: bold;
    border-radius: 50%;
    height: 20px;
    min-width: 20px;
    text-align: center;
    margin-left: 8px;
    cursor: help;
}

.bottom_links:not(:first-child) {
    margin-top: 8px;
}

.opacity_0 {
    opacity: 0;
}

.none {
    display: none;
}

a {
	transition: color 0.2s ease-out;
}

button {
    transition: all 0.2s ease-out;
}

#download_imgs_path {
    transition: border-color 0.2s ease-out;
}

.checkbox_checkmark_wrappers svg, .subotions {
    transition: opacity 0.2s ease-out;
}

a:active, button:active {
    transition: none;
}