@use '../../../node_modules/@loftyshaky/shared/scss/shared/vars' as loftyshaky_vars;
@use '../../../node_modules/@loftyshaky/shared/scss/shared/mixins';
@use '../shared/vars' as shared_vars;
@use 'vars';

.keyboard_#{shared_vars.$app_id} {
    .side_panel_#{shared_vars.$app_id}::part(btn):focus {
        transition: none;
        background-color: #caad1b;
    }

    .img_action_bar_#{shared_vars.$app_id}::part(btn):focus {
        transition: none;
        background-color: rgba(211, 176, 0, vars.$img_action_bar_button_opacity);
    }
}
