@use '../../../node_modules/@loftyshaky/shared/scss/shared/vars' as loftyshaky_vars;
@use '../../../node_modules/@loftyshaky/shared/scss/shared/mixins';
@use '../shared/vars' as shared_vars;
@use 'vars';

:host-context(.keyboard_#{shared_vars.$app_id}) {
    .btn:focus {
        background-color: #caad1b;
        transition: none;
    }

    .img_action_bar .btn:focus {
        background-color: rgba(211, 176, 0, vars.$img_action_bar_button_opacity);
    }
}
