:host-context(.keyboard_#{$app_id}) {
    .btn:focus {
        @include outline_solid_thick;
        outline-color: $black;
        outline-offset: -$outline_offset;
    }

    .img_action_bar .btn:focus {
        outline-color: #d93deb;
    }
}
