@import '../shared/index';
@import 'shared';

$icon_size: 16px;

.content {
    inset-inline-end: 0;
}

.icons {
    display: flex;
}

.icon_w {
    display: flex;

    &:not(:first-child) {
        margin-inline-start: 10px;
    }

    svg {
        width: $icon_size;
        height: $icon_size;
        background-color: white;
    }

    &.favicons svg {
        fill: #4550ff;
    }

    &.server_locations svg {
        fill: #ff4b35;
    }

    .icon {
        width: $icon_size;
        height: $icon_size;
    }
}
