@import '../shared/index';
@import 'shared';

$icon_size: 16px;

.content {
    @include full_dims;

    inset-inline-end: 0;
}

.icon_w {
    display: flex;

    &:not(:first-child) {
        margin-inline-start: 10px;
    }

    svg {
        width: $icon_size;
        height: $icon_size;
        background-color: white;
    }

    &.favicons svg {
        fill: #4550ff;
    }

    &.server_locations svg {
        fill: #ff4b35;
    }

    .icon {
        width: $icon_size;
        height: $icon_size;
    }
}

.icons {
    display: flex;

    &.all {
        @include full_dims;

        .icon_w {
            @include full_dims;

            align-items: center;
            justify-content: center;
        }

        .favicons {
            display: none;
        }
    }
}

.icons:not(.all, .news, :empty) {
    margin-right: $gap;
}

:host-context(html[dir='rtl']) .icons:not(.news, :empty) {
    margin-right: 0;
    margin-left: $gap;
}
