@use '../shared/vars' as shared_vars;
@use 'vars';

.iframe_#{shared_vars.$app_id} {
    display: block;
    border: 0;
    width: 100%;

    &.all_#{shared_vars.$app_id},
    &.search_by_img_#{shared_vars.$app_id},
    &.forums_#{shared_vars.$app_id},
    &.web_#{shared_vars.$app_id} {
        margin-bottom: vars.$search_result_iframe_offset_all;
    }

    &.books_#{shared_vars.$app_id} {
        margin-bottom: vars.$search_result_iframe_offset_books;
    }

    &.news_#{shared_vars.$app_id} {
        margin-bottom: vars.$search_result_iframe_offset_news;
    }
}
