@import '../shared/index';
@import 'shared';

$img_action_bar_button_opacity: 0.65;

.content {
    position: absolute;
    inset-inline-end: 0;
    bottom: 0;
}

.img_action_bar {
    @include border_top;
    display: flex;
    overflow: hidden;
    border-start-start-radius: $bar_border_radius;
    border-color: white;
}

:host-context([dir='ltr']) .img_action_bar {
    @include border_left;
}

:host-context([dir='rtl']) .img_action_bar {
    @include border_right;
}

.btn {
    @include input_basic;
    height: $btn_size;
    width: $btn_size;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: rgba(66, 133, 244, $img_action_bar_button_opacity);
    border-color: white;

    &:hover {
        background-color: rgba(15, 157, 88, $img_action_bar_button_opacity);
    }

    &:active {
        background-color: rgba(219, 68, 55, $img_action_bar_button_opacity);
    }

    svg {
        height: $icon_size;
        width: $icon_size;
        fill: white;
    }
}

:host-context([dir='ltr']) .btn:not(:first-child) {
    @include border_left;
}

:host-context([dir='rtl']) .btn:not(:last-child) {
    @include border_left;
}
