@import "../../../node_modules/@loftyshaky/shared/scss/mixins";
@import "../../../node_modules/@loftyshaky/shared/scss/mods";
@import "vars";

$img_action_bar_buttons_opacity: 0.65;

.content {
    position: absolute;
    bottom: 0;
    right: 0;
}

.img_action_bar {
    @include border_left;
    @include border_top;
    display: flex;
    overflow: hidden;
    border-top-left-radius: $bar_border_radius;
    border-color: white;
}

.btn {
    @include input_basic;
    height: $btn_size;
    width: $btn_size;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: rgba(66, 133, 244, $img_action_bar_buttons_opacity);
}

.btn:hover {
    background-color: rgba(15, 157, 88, $img_action_bar_buttons_opacity);
}

.btn:active {
    background-color: rgba(219, 68, 55, $img_action_bar_buttons_opacity);
}

.btn:not(:last-child) {
    @include border_right;
    border-color: white;
}

.btn svg {
    height: $icon_size;
    width: $icon_size;
    fill: white;
}
