@import '../../../node_modules/@loftyshaky/shared/scss/text';
@import '../../../node_modules/@loftyshaky/shared/scss/mods';
@import '../../../node_modules/@loftyshaky/shared/scss/crash_handler';

.load_end_msg {
    position: relative;
    bottom: 6px;
    font-size: 18px;
    width: 500px;
    color: red;
}
