@use '../shared/vars';

.opacity_0_#{vars.$app_id} {
    opacity: 0 !important;
}

.none {
    display: none !important;
}

.hidden_#{vars.$app_id} {
    position: fixed !important;
    visibility: hidden !important;
    top: 99999px !important;
}

.white_space_#{vars.$app_id} {
    white-space: nowrap;
}
