.root_parent_#{$app_id} {
    position: relative;
    white-space: nowrap;
}

.root_parent_#{$app_id}.offset_1_#{$app_id}:not(.news_#{$app_id}) {
    margin-left: $icon_size + $gap;
}

.root_parent_#{$app_id}.offset_2_#{$app_id}:not(.news_#{$app_id}) {
    margin-left: ($icon_size * 2) + ($gap * 2);
}
