.icons_#{$app_id}:not(.news_#{$app_id}) {
    position: absolute;
    top: 10px;
    left: -$gap;
    transform: translateX(-100%);
}

.icons_#{$app_id}.news_#{$app_id} {
    display: inline-flex;
    vertical-align: top;
}

.img_action_bar_#{$app_id} {
    position: absolute;
    right: 0;
    bottom: 0;
}
