@import '../shared/index';
@import 'vars';

.icons_#{$app_id}:not(.news_#{$app_id}) {
    position: absolute;
    top: 10px;
    left: -$gap;
    transform: translateX(-100%);
}

html[dir='rtl']
    .root_parent_#{$app_id}.offset_1_#{$app_id}
    .icons_#{$app_id}:not(.news_#{$app_id}) {
    margin-left: calc(100% + #{$gap + $icon_offset_1});
}

html[dir='rtl']
    .root_parent_#{$app_id}.offset_2_#{$app_id}
    .icons_#{$app_id}:not(.news_#{$app_id}) {
    margin-left: calc(100% + #{$gap + $icon_offset_2});
}

.icons_#{$app_id}.news_#{$app_id} {
    display: inline-flex;
    vertical-align: top;
}

.img_action_bar_#{$app_id} {
    position: absolute;
    inset-inline-end: 0;
    bottom: 0;
}
