@import '../shared/index';
@import 'shared';

.separator {
    color: $black;
    font-size: $font_size;

    &.all {
        margin-bottom: $search_result_offset_all;
    }

    &.videos {
        margin-bottom: $search_result_offset_videos - 9px;
    }

    &.books {
        margin-bottom: $search_result_offset_books;
    }

    &.news {
        margin-bottom: $search_result_offset_news;
    }

    &.shopping {
        margin-bottom: $search_result_offset_shopping - 8px;
    }
}
