@import '../shared/index';
@import 'shared';

$side_panel_box_shadow: 0 1px 6px rgb(0 0 0 / 36%);

.side_panel {
    position: fixed;
    top: var(--offset_from_header);
    overflow: hidden;
    text-align: center;
    width: fit-content;
    z-index: 2147483647;

    .side_panel_item {
        cursor: help;
        font-size: $font_size;
        padding: 4px 9px 3px 10px;
        color: white;

        &:not(:last-child) {
            @include border_bottom;

            border-color: white;
        }

        &.current {
            background-color: #6280ff;
        }

        &.total {
            background-color: #5bbeff;
        }
    }

    &.left {
        box-shadow: $side_panel_box_shadow;
        border-start-end-radius: $bar_border_radius;
        border-end-end-radius: $bar_border_radius;
    }

    &.right {
        box-shadow: $side_panel_box_shadow;
        inset-inline-end: 0;
        border-start-start-radius: $bar_border_radius;
        border-end-start-radius: $bar_border_radius;
    }

    .btn {
        @include btn;

        display: flex;
        justify-content: center;
        align-items: center;
        height: $btn_size;
        min-width: $btn_size;
        width: 100%;
        background-color: #b349ca;

        svg {
            @include text_btn_svg;

            fill: white;
        }

        &.position_remembered {
            background-color: #ca7742;
        }

        &.position_overridden {
            background-color: #7fc33b;
        }
    }

    .enable_btn {
        background-color: #38c353;

        &.disabled {
            background-color: #d83737;
        }
    }
}
