$font_size: 18px;
$btn_size: 31px;
$icon_size: 16px;
$bar_border_radius: 5px;
$icon_offset_1: $icon_size + $gap;
$icon_offset_2: ($icon_size * 2) + ($gap * 2);
$spinner_load_end_msg_margin_bottom: 20px;
$search_result_offset_all: 30px;
$search_result_offset_videos: 32px;
$search_result_offset_books: 18px;
$search_result_offset_news: 29px;
$search_result_offset_shopping: 20px;
