body {
    overflow: hidden;
}

body > *:not(#main), #cnt > *:not(.mw), #center_col > *:not(#res), #rhscol {
    display: none;
}

#ires, #rcnt, g-section-with-header { /* #ires fix text result offset; #rcnt fix image result offset; g-section-with-header image g offset  */
    margin-top: 0!important;
}

#cnt {
    padding-top: 0!important;
}

.srg .g:last-of-type {
    margin-bottom: 26px!important;
}

.none_pipbbdfondfipmjmdkmggihiknhmcfhd {
	display: none;
}

.opacity_0_pipbbdfondfipmjmdkmggihiknhmcfhd {
	opacity: 0;
}

.transition_body_pipbbdfondfipmjmdkmggihiknhmcfhd {
    transition: opacity 0.2s ease-out;
}