@import '../../shared/index';
@import '../shared';

.content {
    @include full_dims;

    inset-inline-end: 0;
}

.icon_w {
    display: flex;

    &:not(:first-child) {
        margin-inline-start: 10px;
    }

    .svgs_w {
        display: flex;
    }

    svg {
        width: $icon_size;
        height: $icon_size;
        background-color: white;

        &:nth-child(1) {
            fill: white !important;
            height: $icon_size_2;
            width: $icon_size_2;
            padding: 2px;
        }
    }

    &.favicons svg {
        fill: $icon_placeholder_color_1;

        &:nth-child(1) {
            background-color: $icon_placeholder_color_1;
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &.server_locations svg {
        fill: $icon_placeholder_color_2;

        &:nth-child(1) {
            background-color: $icon_placeholder_color_2;
        }
    }

    .icon {
        width: $icon_size;
        height: $icon_size;
    }
}

.icons {
    display: flex;

    &.all,
    &.search_by_img {
        .favicons {
            display: none;
        }
    }
}

.icons:not(.news, :empty) {
    margin-right: $gap;
}

:host-context(html[dir='rtl']) .icons:not(.news, :empty) {
    margin-right: 0;
    margin-left: $gap;
}
