@use '../../../../node_modules/@loftyshaky/shared/scss/shared/vars' as loftyshaky_vars;
@use '../../../../node_modules/@loftyshaky/shared/scss/shared/mixins';
@use '../../shared/index';
@use '../shared';
@use '../vars';

.content {
    @include mixins.full_dims;

    inset-inline-end: 0;
}

.icon_w {
    display: flex;

    &:not(:first-child) {
        margin-inline-start: loftyshaky_vars.$gap;
    }

    .svgs_w {
        display: flex;
    }

    svg {
        width: vars.$icon_size;
        height: vars.$icon_size;
        background-color: white;

        &.refresh:nth-child(1) {
            fill: white;
            background-color: transparent;
            height: vars.$icon_size_3;
            width: vars.$icon_size_3;
            padding: 3px;
        }
    }

    &.favicons {
        svg {
            fill: vars.$icon_placeholder_color_1;
        }

        .svgs_w {
            background-color: vars.$icon_placeholder_color_1;
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &.server_locations {
        svg {
            fill: vars.$icon_placeholder_color_2;
        }

        .svgs_w {
            background-color: vars.$icon_placeholder_color_2;
        }
    }

    .icon {
        width: vars.$icon_size;
        height: vars.$icon_size;
    }
}

.icons {
    display: flex;

    &.all,
    &.search_by_img {
        .favicons {
            display: none;
        }
    }
}

.icons:not(.news, :empty) {
    margin-right: loftyshaky_vars.$gap;
}

:host(:has(html[dir='rtl'])) .icons:not(.news, :empty) {
    margin-right: 0;
    margin-left: loftyshaky_vars.$gap;
}
