@import '../../shared/index';
@import '../shared';

$small_btn_size: 24px;
$small_icon_size: 13px;

.content {
    position: absolute;
    inset-inline-end: 0;
    bottom: 0;
}

.img_action_bar {
    @include border_bottom;
    @include border_left;

    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-end-start-radius: $bar_border_radius;
    border-color: white;
    transform-origin: bottom right;

    .btn {
        @include input_basic;

        height: $small_btn_size;
        width: $small_btn_size;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        cursor: pointer;
        background-color: rgba(66, 133, 244, $img_action_bar_button_opacity);
        border-color: white;

        svg {
            height: $small_icon_size;
            width: $small_icon_size;
            fill: white;
        }

        &:hover {
            background-color: rgba(15, 157, 88, $img_action_bar_button_opacity);
        }

        &:active {
            background-color: rgba(219, 68, 55, $img_action_bar_button_opacity);
        }

        &:not(:first-child) {
            @include border_top;
        }
    }

    &.main_img_viewer .btn {
        height: $btn_size;
        width: $btn_size;

        svg {
            height: $icon_size;
            width: $icon_size;
        }
    }
}

:host-context([dir='rtl']) .img_action_bar {
    @include border_right;

    border-left: 0;
}
