@use '../../../../node_modules/@loftyshaky/shared/scss/shared/vars' as loftyshaky_vars;
@use '../../shared/index';
@use '../shared';
@use '../vars';

.separator {
    color: loftyshaky_vars.$black;
    font-size: vars.$font_size;

    &.all,
    &.search_by_img,
    &.forums,
    &.web {
        margin-bottom: vars.$search_result_separator_offset_all;
    }

    &.books {
        margin-bottom: vars.$search_result_separator_offset_books;
    }

    &.news {
        margin-bottom: vars.$search_result_separator_offset_news;
    }
}
